{% extends 'layout.html' %}

{% block title %} Create organization {% endblock %}

{% block body %}
<!-- TODO: add organization location -->
<body class="aside-mini">

    <b class="screen-overlay"></b>
    <aside class="navbar-aside" id="offcanvas_aside">
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="{{ url_for('tickets') }}"><i
                            class="icon material-icons md-sticky_note_2"></i>
                        <span class="text">Tickets</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="{{ url_for('new') }}"><i class="icon material-icons md-plus"></i>
                        <span class="text">Create new</span>
                    </a>
                </li>
                <hr>
                <li class="menu-item active">
                    <a class="menu-link" href="{{ url_for('admin_settings') }}"><i
                            class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                </li>
                <br>
                <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Create Organizations</h2>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row gx-5">
                        <aside class="col-lg-3 border-end">
                            <nav class="nav nav-pills flex-lg-column mb-4">
                                <a class="nav-link" aria-current="page" href="{{ url_for('admin_settings') }}">Your
                                    Profile</a>
                                <a class="nav-link" href="{{ url_for('manage_organizations') }}">Manage
                                    Organizations</a>
                                <a class="nav-link active" href="{{ url_for('add_organization') }}">Add
                                    Organization</a>
                                <a class="nav-link" href="{{ url_for('manage_users') }}">Manage Users</a>
                                <a class="nav-link" href="{{ url_for('add_user') }}">Add
                                    Users</a>
                                <a class="nav-link" href="{{ url_for('manage_tech') }}">Manage Tech</a>
                                <a class="nav-link" href="{{ url_for('add_tech') }}">Add
                                    Tech</a>
                            </nav>

                        </aside>
                        <div class="col-lg-9">
                            <section class="content-body p-xl-4">
                                <form action="/add_organization" , method="POST">
                                    <section class="content-main">
                                        <div class="content-header">
                                            <h2 class="content-title">Create new organization</h2>
                                            <button type="submit" class="btn btn-primary">Create organization</button>
                                        </div>
                                        <div class="card mb-4">
                                            <div class="card-body">
                                                <div class="mb-4">
                                                    <label class="form-label">Name</label>
                                                    <input type="text" placeholder="Name of organization" id="name"
                                                        name="name" class="form-control" required></input>
                                                </div>
                                                <div class="mb-4">
                                                    <label class="form-label">Email</label>
                                                    <input placeholder="Email of organization (contact)" id="email"
                                                        type="email" class="form-control" name="email" required></input>
                                                </div>
                                                <div>
                                                    <label for="status" class="form-label">Type</label>
                                                    <select class="form-select" name="type" id="type" required>
                                                        <option value="Customer">Customer</option>
                                                        <option value="Service">Service</option>
                                                    </select>
                                                </div>
                                    </section>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
{% endblock %}