{% extends 'layout.html' %}
<!--  This is a Jinja2 directive that uses inheritance in HTML to inherit code from the file layout.html, which is a barebones page. -->
<!--  This way, we don't have to write any header comments or any fundamental HTML syntax, and we can get straight to writing code. It's very useful as HTML is a very repetitive language sometimes, and it saves space, reduces complexity and could potential reduce maintainence overhead. -->

{% block title %} Create tech {% endblock %}
<!--  block title is defined in layout.html, and its a form of polymorphism. It overrides the content of the title block in layout.html but keeps the HTML formatting. -->

{% block body %}
<!--  The same applies here. The content of this body block will override anything from layout.html but will keep any non-overridden features. -->


<!--  This page is designed to be used by users with the 'admin' role to create a new 'tech' user. -->


<body class="aside-mini">
    <b class="screen-overlay"></b>
    <aside class="navbar-aside" id="offcanvas_aside">
        <!--  <aside> is a tag that represents content that is 'tangentially related' to the main page, such as a navbar. The class and id allows us to format it in CSS. -->
        <!-- The side navbar begin here. -->
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <!--  The curly-bracket notation is part of the Jinja2 templating engine. It allows us to dynamically update the HTML webpage with variables from a Python, or some other file. The webpage changes as the variable changes. -->
                    <!--  In this case, url_for() is a function provided by flask that generates a URL for a specific endpoint. We use the endpoint to create a new organization, @app.route('/new') -->

                    <!-- All the links in the navbar are defined here. -->
                    <a class="menu-link" href="{{ url_for('tickets') }}"><i
                            class="icon material-icons md-sticky_note_2"></i>
                        <span class="text">org</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="{{ url_for('new') }}"><i class="icon material-icons md-plus"></i>
                        <span class="text">Create new</span>
                    </a>
                </li>
                <hr>
                <li class="menu-item active">
                    <a class="menu-link" href="{{ url_for('admin_settings') }}"><i
                            class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="{{ url_for('logout') }}"><i
                            class="icon material-icons text-danger md-log_out"></i>
                        <span class="text">Settings</span>
                    </a>
                </li>
                <br>
                <br>
        </nav>
    </aside>
    <!-- Navbar ends here, content starts here -->
    <main class="main-wrap">
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Manage Organizations</h2>
            </div>

            <div class="card">
                <!-- 'card' holds the, well, card-like shape that contains the form and the title. More cards can be added and they will stack vertically. -->
                <div class="card-body">
                    <div class="row gx-5">
                        <aside class="col-lg-3 border-end">
                            <nav class="nav nav-pills flex-lg-column mb-4">
                                <!-- 'nav nav-pills flex-lg-column mb-4' is the container for the tabs. -->
                                <!-- Add elements as <a> and not <li> -->
                                <a class="nav-link" aria-current="page" href="{{ url_for('admin_settings') }}">Your
                                    Profile</a>
                                <a class="nav-link" href="{{ url_for('manage_organizations') }}">Manage
                                    Organizations</a>
                                <a class="nav-link" href="{{ url_for('add_organization') }}">Add
                                    Organization</a>
                                <a class="nav-link" href="{{ url_for('manage_users') }}">Manage Users</a>
                                <a class="nav-link" href="{{ url_for('add_user') }}">Add
                                    Users</a>
                                <a class="nav-link" href="{{ url_for('manage_tech') }}">Manage Tech</a>
                                <a class="nav-link active" href="{{ url_for('add_tech') }}">Add
                                    Tech</a>
                            </nav>

                        </aside>
                        <!-- Main form for data submission below -->
                        <div class="col-lg-9">
                            <section class="content-body p-xl-4">
                                <form action="/add_tech" , method="POST">
                                    <section class="content-main">
                                        <div class="content-header">
                                            <!-- The content above the form -->
                                            <h2 class="content-title">Create new tech</h2>
                                            <button type="submit" class="btn btn-primary">Create
                                                tech</button>
                                        </div>
                                        <div class="card mb-4">
                                            <div class="card-body">
                                                <div class="mb-4">
                                                    <!-- Form input fields below -->
                                                    <label class="form-label">Name</label>
                                                    <input type="text" placeholder="Name of tech" id="name" name="name"
                                                        class="form-control" required></input>
                                                </div>
                                                <div class="mb-4">
                                                    <label class="form-label">Email</label>
                                                    <input placeholder="Email of user" id="email" type="email"
                                                        class="form-control" name="email" required></input>
                                                </div>
                                                <div class="mb-4">
                                                    <label class="form-label">Password</label>
                                                    <input placeholder="Password" id="password" type="text"
                                                        class="form-control" name="password" required></input>
                                                </div>
                                                <div>
                                                    <label for="status" class="form-label">Organization</label>
                                                    <select class="form-select" name="org" id="org" required>
                                                    </select>
                                                </div>
                                    </section>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Below is a AJAX script for dynamically fetching the list of organizations to display on the dropdown -->

    <!-- It first retreives all the organizations from the /get_orgs endpoint using $.get() -->
    <!-- We initialise an array called names and clear the content of any existing element named 'org'. -->
    <!-- Then, we loop through orgs, which now contains the list of organizations from the /get_orgs endpoint and append each organization to the dropdown -->
    <!-- Finally, we append the dropdown to the page -->
    <script>
        $.get('{{ url_for("get_orgs") }}', function (data) {
                let names = []
                $('org').empty();
                let orgs = data;
                let num_entires = Object.keys(orgs).length;
                for (let i = 0; i < num_entires; ++i) {
                    let org = orgs[i];
                    console.log(org);
                    let name = org['name'];
                    names.push(name);
                }
                var str = ""
                for (var org of names) {
                    str += "<option>" + org + "</option>"
                }
                console.log(str);
                document.getElementById("org").innerHTML = str;
            });
    </script>
</body>
{% endblock %}